<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0" style="color: aliceblue;">
            <h2 class="text-uppercase mb-4">About company</h2>
  
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti.
            </p>
  
            <p>
              Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
              molestias.
            </p>
  
            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fa fa-facebook-f"></i></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa fa-google"></i></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa fa-twitter"></i></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fa fa-linkedin"></i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:</div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- footer_end  -->
  
  <!-- JS here -->
  <script src="js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="js/vendor/jquery-1.12.4.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/ajax-form.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/scrollIt.js"></script>
  <script src="js/jquery.scrollUp.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/gijgo.min.js"></script>
  <script src="js/nice-select.min.js"></script>
  <script src="js/jquery.slicknav.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/tilt.jquery.js"></script>
  <script src="js/plugins.js"></script>
  
  
  
  <!--contact js-->
  <script src="js/contact.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  
  
  <script src="js/main.js"></script>
