.btn{
    border-radius: 70%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn:active {
    background-color: #7d7e80;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }