<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="stylesheet" href="add-sponsor.component.css">
</head>
<body>

  <div class="register-container" style="margin-top: 100px;">
    <!-- add-sponsor.component.html -->

    <form (ngSubmit)="onSubmit()" [formGroup]="sponsorForm" novalidate>
      <div class="form-group">
        <label for="nomSponsor">Sponsor Name<span>(Specify the sponsor name)</span></label>
        <input type="text" id="nomSponsor" formControlName="nomSponsor" required>
        <div *ngIf="sponsorForm.get('nomSponsor')?.invalid && (sponsorForm.get('nomSponsor')?.dirty || sponsorForm.get('nomSponsor')?.touched)" class="error-message">
          Sponsor name is required !
          <div *ngIf="sponsorForm.get('nomSponsor')?.hasError('minlength')">Sponsor name should be at least 3 characters</div>
      </div>
      </div>
      <div class="form-group">
        <label for="dureeSponsoring">Sponsorship duration <span>(Specify the sponsorship duration per day)</span></label>
        <input type="number" id="dureeSponsoring" formControlName="dureeSponsoring" required>
        <div *ngIf="sponsorForm.get('dureeSponsoring')?.invalid && (sponsorForm.get('dureeSponsoring')?.dirty || sponsorForm.get('dureeSponsoring')?.touched)" class="error-message">
          Sponsor duration is required !
        </div>
      </div>  
      <div class="form-group">
        <label for="typeSponsoring">Sponsor Type <span>(Select sponsor type)</span></label>
        <select id="typeSponsoring" formControlName="typeSponsoring" required>
          <option value="" disabled selected>Choose type</option>
          <option value="materiel">Materiel</option>
          <option value="financier">Financier</option>
        </select>
        <div *ngIf="sponsorForm.get('typeSponsoring')?.invalid && (sponsorForm.get('typeSponsoring')?.dirty || sponsorForm.get('typeSponsoring')?.touched)" class="error-message">
          Sponsor type is required !
        </div>
      </div>
      <div class="form-group" formGroupName="dynamicFields">
        <div *ngIf="sponsorForm.get('typeSponsoring')?.value === 'financier'">
          <label for="montant">Amount<span>(Specify the amount per Dt)</span></label>
          <input type="number" id="montant" formControlName="montant">
          <div *ngIf="sponsorForm.get('dynamicFields.montant')?.invalid && (sponsorForm.get('dynamicFields.montant')?.dirty || sponsorForm.get('dynamicFields.montant')?.touched)" class="error-message">
            Amount is required !
          </div>
        </div>

        <div class="form-group" *ngIf="sponsorForm.get('typeSponsoring')?.value === 'materiel'">
          <label for="typeMateriel">Materiel Type <span>(Select materiel type)</span></label>
          <select id="typeMateriel" formControlName="typeMateriel">
            <option value="" disabled selected>Choisir le type de matériel</option>
            <option value="Laptop">Laptop</option>
            <option value="Data_show">Data show</option>
            <option value="Tables_chairs">Tables & Chairs</option>
          </select>
          <div *ngIf="sponsorForm.get('dynamicFields.typeMateriel')?.invalid && (sponsorForm.get('dynamicFields.typeMateriel')?.dirty || sponsorForm.get('dynamicFields.typeMateriel')?.touched)" class="error-message">
            Material type is required !
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="numTel">Phone Number<span>(Specify your phone number)</span></label>
        <input type="number" id="numTel" formControlName="numTel" required>
        <div *ngIf="sponsorForm.get('numTel')?.invalid && (sponsorForm.get('numTel')?.dirty || sponsorForm.get('numTel')?.touched)" class="error-message">
          Phone number is required !
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email Address <span>(Specify your email address)</span></label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="sponsorForm.get('email')?.invalid && (sponsorForm.get('email')?.dirty || sponsorForm.get('email')?.touched)" class="error-message">
          Email is required !
        </div>
      </div>
      <label for="image">Image</label>
      <input type="file" id="image" (change)="onFileChange($event)">
      
      <button type="submit" [disabled]="sponsorForm.invalid" class="black-btn" style="margin-bottom: 10px;">Submit</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
  </div>

</body>
</html>
