<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="stylesheet" href="add-sponsor.component.css">
</head>
<body>

  <div class="register-container" style="margin-top: 100px;">
  <!-- add-sponsor.component.html -->

<form [formGroup]="sponsorForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nomSponsor">Nom Sponsor</label>
    <input type="text" id="nomSponsor" formControlName="nomSponsor">
  </div>
  <div class="form-group">
    <label for="dureeSponsoring">Durée Sponsoring</label>
    <input type="number" id="dureeSponsoring" formControlName="dureeSponsoring">
  </div>  
  <div class="form-group">
    <label for="typeSponsoring">Type Sponsoring</label>
    <select id="typeSponsoring" formControlName="typeSponsoring">
      <option value="materiel">Materiel</option>
      <option value="financier">Financier</option>
    </select>
  </div>
    <div class="form-group" formGroupName="dynamicFields">
      <div *ngIf="sponsorForm.get('typeSponsoring')?.value === 'financier'">
        <label for="montant">Montant</label>
        <input type="number" id="montant" formControlName="montant">
      </div>
  
      <div class="form-group" *ngIf="sponsorForm.get('typeSponsoring')?.value === 'materiel'">
        <label for="typeMateriel">Type de Matériel</label>
        <select id="typeMateriel" formControlName="typeMateriel">
          <option value="Laptop">Laptop</option>
          <option value="Data_show">Data show</option>
          <option value="Tables_chairs">Tables & Chairs</option>
        </select>
      </div>
    </div>
    <div class="form-group">
    <label for="numTel">Numéro de Téléphone</label>
    <input type="text" id="numTel" formControlName="numTel">
    </div>
    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>
    <label for="image">Image</label>
    <input type="file" id="image" (change)="onFileChange($event)">
    
    <button type="submit" [disabled]="sponsorForm.invalid" class="black-btn" style="margin-bottom: 10px;">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
  </form>
  
  </div>
  
</body>
</html>