 <header>
 <div class="header-area " style="background-color: black;">
      <div id="sticky-header" class="main-header-area">
          <div class="container">
              <div class="header_bottom_border">
                  <div class="row align-items-center">
                      <div class="col-xl-3 col-lg-3">
                          <div class="logo">
                              <a href="index.html">
                                  <img src="./assets/img/logo.png" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                          <div class="main-menu  d-none d-lg-block">
                              <nav>
                                  <ul id="navigation">
                                      <li><a  class="nav-link" routerLink="/home">Home</a></li>
                                      <li><a  class="nav-link" routerLink="/forum">Forum</a></li>
                                      <li><a  class="nav-link" routerLink="/addsponsor">Sponsors</a></li>
                                      
                                      <li><a >pages <i class="ti-angle-down"></i></a>
                                          <ul class="submenu">
                                              <li><a  class="nav-link" routerLink="/events">Events</a></li>
                                              <li><a  class="nav-link" routerLink="/clubs">Clubs</a></li>
                                              <li><a  class="nav-link" routerLink="/complaints">Complaints</a></li>
                                          </ul>
                                      </li>
                                      <li><a  class="nav-link" routerLink="/profile">Profile</a></li>
                                      <li><a  class="nav-link" routerLink="/contact">Contact</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                          <div class="buy_tkt">
                              <div class="book_btn d-none d-lg-block">
                                <a class="nav-link" routerLink="/login">login</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>

<!-- JS here -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scrollIt.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/gijgo.min.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/tilt.jquery.js"></script>
<script src="js/plugins.js"></script>



<!--contact js-->
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>


<script src="js/main.js"></script>

