body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #000000; /* noir */
    color: hwb(10 16% 6%); /* orange */
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6666; /* Rouge orangé */
    z-index: -1;
  }
  
  .login-container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
  }
  
  .login-form h2 {
    color: inherit; /* Hérite la couleur du texte */
    margin-bottom: 30px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group input:focus {
    outline: none;
    background-color: #e9e9e9;
  }
  
  .forgot-password {
    color: inherit; /* Hérite la couleur du texte */
    display: block;
    margin-top: 10px;
    text-decoration: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: hwb(10 16% 6%); /* Orange */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: hwb(10 16% 6%); /* Orange plus clair */
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link a {
    color: inherit; /* Hérite la couleur du texte */
    text-decoration: none;
  }
  