<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="mdp.component.css">
</head>
<body>
  <div class="background"></div>
  <div class="login-container">
    <form class="login-form">
      <h3>Password recovery</h3>
      <div class="form-group">
        <label for="email"> Email Adresse  </label>
        <input type="email" id="email" name="email" placeholder="Enter your email adresse " [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="numTel"> phone number</label>
        <input type="numTel" id="numTel" name="numTel" placeholder="Specify your phone number" [(ngModel)]="numTel" required>
      </div>
      <br>
      <button type="submit" (click)="login()">Login</button>
    
    </form>
  </div>
</body>
</html>

