body {
    background-color: black !important;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;/* Largeur ajustée */
    height: 650px;
}


.profile-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.profile-header {
    display: flex;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-picture {
    width: 150px; /* Largeur ajustée */
    height: 150px; /* Hauteur ajustée automatiquement en fonction de la largeur */
    background-color: white; /* Placeholder color for profile picture */
    border-radius: 10px;
    margin-right: 20px;
}


.profile-info {
    flex-grow: 1;
}

.username {
    margin-top: 0;
}

.button-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.edit-button {
    margin-left: 10px;
    background-color: #444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.social-links {
    margin-top: 10px;
}

.social-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.profile-details {
    padding: 30px;
}

.detail {
    margin-bottom: 30px;
}

.detail h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}
