<div class="bradcam_area">
    <div class="single_bradcam d-flex align-items-center bradcam_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <img src="./assets/img/shape/shape_1.svg" alt="">
                        </div>
                        <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                            <img src="./assets/img/shape/shape_2.svg" alt="">
                        </div>
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">About</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area end -->

<!-- about_area_start  -->
<div class="about_area black_bg extra_padd">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80">
                    <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" style="color: burlywood;">About Event</h4>
                    <br>
                    <br>
                    <h3 *ngIf="eventSearched" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: aquamarine;">{{ eventSearched.nomEvenement }}</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="about_thumb">
                    <div class="shap_3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="src/assets/img/shape/shape_3.svg" alt="">
                    </div>
                    <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <img *ngIf="eventSearched" [src]="'/assets/img/' + eventSearched.photo" alt="Event photo">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about_info pl-68">
                    <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">It's time to book your seat</h4>
                    <p *ngIf="eventSearched" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">{{ eventSearched.actionEvenement }}</p>
                    <a class="boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s" (click)="onAssign()">Join Event</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map_area">
    <div class="location_information black_bg wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
        <h3>Concert 2020</h3>
        <div class="info_wrap">
            <div class="single_info">
                <span>Location:</span>
                <p *ngIf="eventSearched">{{ eventSearched.lieuEvenement }}</p>
            </div>
            <div class="single_info">
                <span>Available place:</span>
                <p>{{eventSearched.numPlaces}}</p>
            </div>
            <div class="single_info">
                <span>Email:</span>
                <p>contact@concert20.com</p>
            </div>
        </div>
    </div>
    <app-map [jobCity]="eventSearched.lieuEvenement"></app-map>

</div>
<!-- map_area_end  -->