
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="ia.component.css">
</head>
<body>
  <div style="margin-top: 150px;">
  
<div style="padding: 20px;">
  <h2>Facial Recognition</h2>
  <div style="margin-bottom: 20px;">
    <label for="cameraUrl">URL de la caméra:</label>
    <input type="text" id="cameraUrl" [(ngModel)]="cameraUrl">
  </div>
  <div style="margin-bottom: 20px;">
    <button (click)="sendUrlToPython()">Envoyer URL</button>
  </div>
  <div *ngIf="reply !== ''">
    <p>Réponse du serveur :</p>
    <h2>{{ reply }}</h2>
  </div>
</div>
</div>
</body>
